*,
*:before,
*:after {
   padding: 0;
   border: 0;
   margin: 0;
   box-sizing: border-box;
}

html,
body {
   height: 100%;
   width: 100%;
   box-sizing: border-box;
}
body {
   overflow: visible;
}
body.disabled {
   overflow: hidden;
}
a {
   text-decoration: none;
}
.wrapper-main {
   width: 100%;
   max-width: 1440px;
   overflow: hidden;
}
.main-screen {
   width: 100%;
   height: 100vh;
   background: url("..//images/main.jpg");
   background-size: cover;
}
.wrapper {
   width: 100%;
   padding: 40px 40px 40px 40px;
   position: relative;
   height: 100vh;
}
.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.header-icon {
   display: flex;
}
.header-icon img {
   width: 35px;
   height: 40px;
   margin-top: -5px;
}
.header-icon h2 {
   font-family: "Montserrat", sans-serif;
   font-size: 20px;
   color: #fff;
   padding: 5px 0 0 10px;
}
.menu.active {
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   background-color: rgb(21, 16, 34);
   z-index: 5;
   transform: translate(0%);
}

.menu-list {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 500px;
}
.menu-list li {
   font-family: "Montserrat", sans-serif;
   list-style: none;
}
.menu-list a {
   font-family: "Montserrat", sans-serif;
   font-size: 16px;
   color: #fff;
   text-decoration: none;
   transition: 0.5s ease;
}
.menu-list a:hover {
   color: #ed6950;
}
.menu.active .menu-list {
   width: 100%;
   flex-direction: column;
}
.burger-container {
   display: none;
}
.search {
   width: 18px;
   height: 18px;
}
.main-title {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 65%;
   height: 300px;
}
.main-title h1 {
   font-family: "Montserrat", sans-serif;
   font-size: 62px;
   text-align: center;
   color: #fff;
}
.main-title span {
   font-family: "Montserrat", sans-serif;
   font-size: 62px;
   text-align: center;
   color: #ed6950;
}
.subtitle {
   font-family: "Montserrat", sans-serif;
   text-align: center;
   font-size: 18px;
   color: #fff;
   padding-top: 10px;
}
.suptitle {
   font-family: "Montserrat", sans-serif;
   text-align: center;
   font-size: 18px;
   color: #fff;
   padding-top: 130px;
}
.title__button {
   max-width: 240px;
   width: 90%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   margin-top: 40px;
   padding: 10px;
   background-color: #ffc74a;
   text-transform: uppercase;
   border-radius: 20px;
   font-size: 16px;
   color: #b98000;
   text-align: center;
   cursor: pointer;
   transition: 0.5s ease-in-out;
}
.title__button:hover {
   font-weight: 700;
}
.fa-bars {
   color: #fff;
}
.fa-times {
   display: none;
}

@media screen and (max-width: 1200px) {
   .burger-container {
      z-index: 10;
      width: 50px;
      height: 50px;
      display: block;
      margin-top: 2px;
      padding-left: 5px;
   }
   .burger-container.active .burger-item:before {
      transform: translate(0, 12px) rotate(45deg);
   }
   .burger-container.active .burger-item:after {
      transform: translate(0, -12px) rotate(-45deg);
   }
   .burger-item {
      width: 30px;
      height: 3px;
      border-radius: 3px;
      background-color: #fff;
      position: relative;
      top: 20px;
   }
   .burger-item:before,
   .burger-item:after {
      content: "";
      right: 1px;
      position: absolute;
      width: 30px;
      height: 3px;
      border-radius: 3px;
      background-color: #fff;
   }
   .burger-item:before {
      top: -12px;
      left: 0;
   }
   .burger-item:after {
      top: 12px;
      left: 0;
   }
   .burger-container.active .burger-item {
      background-color: rgb(21, 16, 34);
   }
   .menu {
      display: none;
      transform: translate(-100%);
      padding-top: 50px;
   }
   .menu-list li {
      text-align: center;
      margin: 30px 0;
   }
}
@media (max-width: 450px) {
   .main-title h1,
   .main-title span {
      font-size: 40px;
   }
}
