/*CITY*/
.city {
   width: 100%;
   height: 360px;
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
   grid-column-gap: 10px;
   grid-row-gap: 10px;
   padding-top: 40px;
   overflow: hidden;
}
.cities-img {
   position: relative;
}
.cities-img img {
   width: 100%;
   height: 312px;
}
.cities__text {
   position: absolute;
   left: 50%;
   top: 100%;
   transform: translate(-50%);
   text-align: center;
   transition: 0.6s ease;
}
.cities__text h4 {
   font-family: "Montserrat", sans-serif;
   font-size: 28px;
   color: #fff;
}

.cities__text h6 {
   font-family: "Montserrat", sans-serif;
   font-size: 14px;
   color: #d2a43d;
}
.cities__btn {
   display: none;
   margin: 0 auto;
   transition: all 3s ease;
}
.btn_inner {
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 20px;
   position: absolute;
   top: 250px;
   left: 50%;
   transform: translate(-50%);
   width: 140px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 20px;
   background-color: #ffc74a;
   text-transform: uppercase;
   font-size: 12px;
   color: #b98000;
   cursor: pointer;
}

.cities-img:hover .cities__text {
   top: 40%;
}

.cities-img:hover .cities__btn {
   display: block;
}
@media (max-width: 900px) {
   .city {
      display: none;
   }
}
/*CHOOSE TRAVEL*/
.choice {
   position: relative;
   padding-top: 30px;
   padding: 0 0 50px 0;
   background-color: #fafbfb;
   height: auto;
}

.choose-travel {
   max-width: 900px;
   margin: 0 auto;
}
.tip-block {
   text-align: center;
   display: block;
}

.choose-travel h2 {
   font-family: "Montserrat", sans-serif;
   font-size: 30px;
   text-align: center;
   color: #6e7b8b;
   margin-top: 30px;
}
form {
   position: relative;
   left: 50%;
   top: 20px;
   transform: translateX(-50%);
   margin-left: 8%;
}
.searching-place input {
   width: 80%;
   height: 40px;
   background-color: #fff;
   border-radius: 20px;
   padding-left: 20px;
   outline: none;
   margin-bottom: 20px;
}
.fa-search {
   width: 14px;
   height: 14px;
   color: #ffc74a;
   transform: translate(-40px);
}
.categories {
   display: flex;
   justify-content: space-between;
   width: 600px;
   margin: 0 auto;
}
.category-type {
   display: flex;
   justify-content: space-between;
   width: 200px;
   margin-left: -20px;
}
.category-city {
   display: flex;
   justify-content: space-between;
   width: 180px;
}
.type__items {
   background-color: #bdc8d9;
   border-radius: 20px;
   width: auto;
   height: 25px;
   padding: 3px 10px 0 10px;
   text-align: center;
   font-family: "Montserrat", sans-serif;
   font-size: 14px;
   color: #fff;
   cursor: pointer;
}

.city__items {
   border-radius: 20px;
   border: 1px solid #6e7b8b;
   padding: 3px 10px 0 10px;
   margin-left: -70px;
   font-family: "Montserrat", sans-serif;
   font-size: 14px;
   color: #6e7b8b;
   cursor: pointer;
}
.choose-place {
   width: 800px;
   margin: 0 auto;
   margin-top: 30px;
   display: grid;
   grid-template-columns: repeat(auto-fill, 250px);
   grid-column-gap: 20px;
   grid-row-gap: 20px;
}
.place__items {
   width: 100%;
   height: 350px;
   background-color: #fff;
   padding: 0 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   box-shadow: 0 0 10px rgb(216, 214, 214);
}
.place__items.hide {
   display: none;
}

.place__items img {
   width: 100%;
   height: 170px;
   padding: 8px 5px 0 6px;
}
.place__items h6 {
   font-family: "Montserrat", sans-serif;
   font-size: 22px;
   color: #6e7b8b;
   text-align: center;
   padding: 15px 0 10px 0;
   text-transform: capitalize;
}
.place__items p {
   font-family: "Montserrat", sans-serif;
   font-size: 14px;
   color: #6e7b8b;
   text-align: center;
}
.place__view {
   width: 160px;
   height: 35px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #fff;
   border-radius: 20px;
   box-shadow: 0 0 50px #f0f2f4;
   margin: 0 auto;
   margin-top: 20px;
   cursor: pointer;
}
.place__view:hover {
   background-color: #ffc74a;
   transition: all 0.5s ease-in;
}

.place__view a {
   font-family: "Montserrat", sans-serif;
   font-size: 12px;
   width: 160px;
   height: 35px;
   color: #6e7b8b;
   text-transform: uppercase;
   text-decoration: none;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: all 0.5s ease-in;
}
.place__view a:hover {
   color: #b98000;
   font-weight: 700;
}
.place_inner {
   display: inline-block;
}

@media screen and (max-width: 900px) {
   .choose-place {
      width: 80%;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
   }
   .choose-travel h2 {
      font-size: 20px;
   }
}
/*EXPLORING*/
.exploring {
   width: 100%;
   height: auto;
   background: url("..//images/background_letter.jpg");
   background-size: cover;
   padding-bottom: 20px;
}
.exploring h2 {
   font-family: "Montserrat", sans-serif;
   font-size: 30px;
   text-align: center;
   color: #6e7b8b;
   padding-top: 30px;
}
.exploring-inner {
   width: 80%;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
}
.explore-image {
   margin: 30px 0 0 40px;
   position: relative;
}
.explore__inner img {
   width: 380px;
   height: 370px;
   position: relative;
   z-index: 5;
}
.explore-text {
   padding-top: 30px;
   width: 40%;
}
.explore-text h3 {
   font-family: "Montserrat", sans-serif;
   font-size: 26px;
   color: #ffc74a;
}
.explore-text p {
   padding-top: 20px;
   font-family: "Montserrat", sans-serif;
   font-size: 14px;
   color: #6e7b8b;
   line-height: 1.5;
}
.explore__border {
   width: 380px;
   height: 370px;
   border: 10px solid #ffc74a;
   position: absolute;
   top: 50px;
   left: 50px;
}
.explore__btn {
   width: 140px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 20px;
   background-color: #ffc74a;
   margin-top: 20px;
   text-transform: uppercase;
   font-size: 12px;
   color: #b98000;
   cursor: pointer;
}

@media (max-width: 1200px) {
   .exploring-inner {
      flex-direction: column-reverse;
   }
   .explore-text {
      width: 100%;
      text-align: center;
   }
   .explore-image,
   .explore__border {
      display: none;
   }
   .explore__btn {
      margin: 0 auto;
      margin-top: 30px;
   }
}
/*ENJOYMENT*/
.enjoyment {
   width: 100%;
   height: 400px;
   background: url("..//images/service.jpg");
   background-size: cover;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   padding: 0 20px;
}
.enjoyment h1 {
   font-family: "Montserrat", sans-serif;
   font-size: 40px;
   color: #fff;
   text-align: center;
   margin-bottom: 30px;
}

.enjoyment p {
   font-family: "Montserrat", sans-serif;
   font-size: 14px;
   color: #fff;
   margin-top: 20px;
   text-align: center;
}
.news__link {
   font-family: "Montserrat", sans-serif;
   font-size: 14px;
   color: #ffc74a;
}
@media (max-width: 450px) {
   .enjoyment h1 {
      font-size: 28px;
   }
}
/*FOOTTER*/
.footter {
   width: 100%;
   height: auto;
   background-color: #02070e;
   display: flex;
   justify-content: space-between;
   color: white;
   padding: 30px 0;
}
.footter-contacts {
   width: 40%;
   margin: 0 auto;
}
.footter-list h4,
.footter-contacts h4 {
   font-size: 20px;
   padding: 0 0 10px 0;
   letter-spacing: 1px;
   color: #ffc74a;
}
.footter-contacts h6 {
   margin: 10px 0;
   font-size: 18px;
   letter-spacing: 1px;
}
.footter-list {
   width: 40%;
   margin: 0 auto;
}
.footter-list li {
   list-style: none;
   padding: 8px 0;
}
.footter-list a {
   font-family: "Montserrat", sans-serif;
   font-size: 14px;
   color: #fff;
   list-style: none;
   text-decoration: none;
   transition: all 0.5s ease;
}
.footter-list a:hover {
   color: #ed6950;
}
@media (max-width: 450px) {
   .footter {
      flex-direction: column;
   }
   .footter-contacts {
      margin-top: 10px;
   }
   .footter-contacts,
   .footter-list {
      text-align: center;
      width: 100%;
   }
}
/*MODAL*/
.modal-container {
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   left: 0;
   background-color: rgb(0, 0, 0, 0.7);
   z-index: 10;
}
.modal-container.hide {
   display: none;
}
.modal-content {
   width: 85%;
   height: 500px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: #fff;
   padding: 15px 30px;
   overflow-y: auto;
}
.modal-content h4 {
   margin: 20px 0;
}
.modal-content h6 {
   margin: 5px 0;
}
.modal-content span {
   margin-right: 20px;
}
.modal-close {
   width: 50px;
   height: 40px;
   display: block;
   position: absolute;
   top: 10px;
   right: 0;
   cursor: pointer;
   z-index: 10;
}

.modal-close:before,
.modal-close:after {
   width: 40px;
   height: 3px;
   background-color: rgb(161, 161, 161);
   content: "";
   position: absolute;
}
.modal-close:before {
   top: 20px;
   right: 20px;
   transform: rotate(45deg);
}
.modal-close:after {
   top: 20px;
   right: 20px;
   transform: rotate(-45deg);
}
.slider-container {
   display: flex;
   width: 80%;
   height: 250px;
   overflow: hidden;
   margin: 0 auto;
   position: relative;
}
.slide {
   max-width: 400px;
   width: 80%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.slide img {
   width: 100%;
   height: auto;
}
.modal-content h4 {
   font-size: 20px;
   text-align: center;
   text-transform: uppercase;
}
.modal-content h6 {
   font-size: 17px;
}
.modal-content p {
   font-size: 14px;
}
.modal-content span {
   margin-right: 10px;
}

.fa-arrow-left,
.fa-arrow-right {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   cursor: pointer;
   z-index: 10;
}
.fa-arrow-right {
   right: 0;
}
.fa-arrow-left {
   left: 0;
}
@media (max-width: 450px) {
   .modal-content {
      padding: 10px 20px;
   }
   .modal-content h6 {
      text-align: center;
   }
   .modal-content h4 {
      margin: 0;
   }
   .slider-container {
      width: 100%;
      height: 180px;
   }

   .slide {
      width: 80%;
   }
   .slide img {
      width: 100%;
      height: 140px;
   }
   .modal-close {
      top: 5px;
      right: -15px;
   }
}
